@import '../../scss/vars';

.Search {
	max-width: 50rem;
	display: flex;
	align-items: center;
	margin: 0 auto 2rem;

	&__icon {
		width: 2.2rem;
		display: block;
	}

	&__button {
		box-shadow: 0 0.2rem 0 $shadow-color;
		border-radius: 0.8rem;
		background: white;
		margin-left: 1.4rem;
		cursor: pointer;
		padding: 1.1rem;

		&:active {
			background: $shadow-color;
			box-shadow: none;
		}
	}

	&__input {
		border: none;
		padding: 0;
		font-family: inherit;
		font-size: 1.4rem;
		line-height: 2rem;
		width: 100%;

		box-shadow: 0 0.2rem 0 $shadow-color;
		border-radius: 0.8rem;
		background: white;
		padding: 1.2rem;

		&:focus {
			outline: none;
		}

		::placeholder {
			color: $inactive-color;
			opacity: 1;
		}

		::-ms-input-placeholder {
			color: $inactive-color;
		}
	}

	&__input:not(:focus) + &__icon path {
		fill: $inactive-color;
	}
}
