$width-threshold: 700px;
$narrow: '(max-width: #{$width-threshold})';
$wide: '(min-width: #{$width-threshold + 1})';

$primary-color: #0ab675;
$text-color: #1a1a1a;
$page-background: #f1f3f4;
$shadow-color: #e1e6e9;
$inactive-color: #b2b2b2;
$button-hover-background: #08a469;
